.container{
    margin: 20px auto;
    
}

.navbar{
    border-radius: 10px;
    padding: 10px;
}

.titulo{
    font-size: 25px;
    font-weight: 700;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

ul{
    margin-left: 30px;
}

.item{
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white ;
    text-decoration: none;
    padding: 20px 20px;
}

.activo{
    color: white ;
    background-color: #444444 ;
    text-align: center;
    border-radius: 2px;
    
}